*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    border: 2px red dashed;
    width: 50%;
    padding: 0.5em;
}
main{
    font-size: 2rem;
    width: 50vw;
    background-color: skyblue;
}
p{
    font-size: 2rem;
    width: 57ch;
}